* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  body {
    background-color: #d9e1ea;
    background-position: center;
    background-size: cover;
  }
  .form-wrap {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
  }
  .form-container {
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 1px 4px 11px -1px #000000;
    border-radius: 5px;
  }
  .form-title {
    text-align: center;
    color: #2e2a2aba;
    /* background: linear-gradient(to right, #ff105f, #ffad06); */
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    line-height: 0.8em;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
  }
  .from-box {
    /* margin: 50px; */
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .from-box .form-group {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
  }
  .from-box .form-group .form-field {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    /* background-color: transparent; */
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 2px;
  }
  .btn-step button {
    /* margin-top: 10px; */
    padding: 10px 15px;
    cursor: pointer;
    background-color: #d9e1ea;
    color: #2e2a2afb;
    border: 1px solid #ced4da;
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
    user-select: none;
  }


  